@model PriceItemModel
<ul class="@Model.Class">
    <li class="header">Basic Plan</li>
    <li class="price"><span>$</span>@Model.Price</li>
    <li><span>1GB</span> disk space</li>
    <li><span>1</span> user</li>
    <li><span>5</span> folders</li>
    <li class="strike">offline access</li>
    <li class="strike">social share</li>
    <li>support online</li>
    <li class="strike">private consultant</li>
    <li class="select"><a href="#">select plan</a></li>
</ul>